body{
    background-color: lightblue;
}
h1{
    color: blue;
    text-align: center;
}
button{
    background-color: rgb(255, 51, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-left: 50%;
}
